// src/styles/FileExplorer.module.scss
$file-bg: #f5f5f5;
$file-border: #ddd;
$file-selected: #d0eaff;

.fileExplorer {
  width: auto;
  background: #F8FAFC;
  border-right: 1px solid $file-border;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;

  .header {
    padding: 6px 7px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #F1F5F9;
    border-bottom: 1px solid #E2E8F0;
    min-height: 21px;

    span {
      font-family: Arial;
      font-weight: 400;
      font-size: 6.18px;
      margin-right: 1.7px;
      align-items: center;
    }

    .documentIcon{
      height: 12px;
      margin-right: 1.5px;

      svg {
        height: 100%;
        width: auto;
        display: block;
      }
    }

    button {
      all: unset;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      outline: none;
    }

    .addButton {
      height: auto;
      .plusIcon {
        height: 13px;
      }
    }
  }

  .fileList {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    flex-grow: 1;
    padding: 4.12px;

    .fileItem {
      padding: 3.74px 4.12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4.12px;
      transition: background 0.1s;

      &:hover {
        background: #e9e9e9;
      }

      &.selected {
        background: #DBEAFE;
      }

      .fileIcon {
        font-size: 7px;
        margin-right: 3px;
      }

      .close{

      }

      .itemText {
        font-size: 7px;
        font-family: sans-serif;
        color: #1C398E;
        align-items: center;
        padding-top: 2px;
      }
    }
  }
}

.moreBtn {
  margin-left: auto;
  background: none;
  border: none;
  font-size: 12px;
  padding: 4px;
  cursor: pointer;
  opacity: 0.6;
  outline: none;

  &:hover {
    opacity: 1;
  }
}

.fileItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 8px;
}

.clickZone {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.contextMenu {
  position: absolute;
  right: 4px;
  top: 28px;
  background: #F1F5F9;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 4px 0;
  min-width: 140px;
  z-index: 20;
}

.menuItem {
  padding: 6px 10px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;

  &:hover {
    background: #DBEAFE;
  }
}