$editor-header-bg: #f9fafb;
$editor-border: #ddd;

.editorContainer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .editorHeader {
    flex: 0 0 32px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    background: $editor-header-bg;
    border-bottom: 1px solid #eee;
    font-weight: 500;
    font-size: 13px;
    color: #111;
  }

  .monaco-editor {
    flex: 1 1 auto;
    overflow: hidden !important;
  }
}


