$output-bg: #fafafa;
$output-border: #ddd;
$tab-active-bg: #e0f0ff;
$tab-active-border: #007bff;



.outputPanel {
  flex: 0 0 300px;      // ширина правой панели (можно менять через resize)
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $output-bg;
  border-left: 1px solid $output-border;

  .tabs {
    display: flex;
    background: #F8FAFC;
    border-bottom: 1px solid #E2E8F0;

    .tab {
      width: 100%;
      padding: 7px 12px;
      display: flex;
      align-items: center;
      font-size: 8px;
      cursor: pointer;
      border: none;
      transition: background 0.2s;
      border-radius: 0px;
      outline: none;
      justify-content: center;
      align-items: center;

      &.active {
        border: 0px;
        background: #FFFFFF;
        border-bottom: 1px solid $tab-active-border;
        border-radius: 0px;
      }

      .icon {
        margin-right: 2px;
        height: 10px;
        padding-top: 2px;
      }
    }
  }

  .content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 12px;
    background: #fff;

    pre {
      background: #f8f8f8;
      padding: 8px;

      font-family: 'Courier New', Courier, monospace;
      font-size: 13px;
      line-height: 1.4;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .placeholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #999;
      text-align: center;
      gap: 6px;

      .bigIcon{
        height: 28px;
        color: #CAD5E2;
      }

      span {
        font-size: 28px;
        opacity: 0.4;
      }

      p {
        margin: 0;
        font-family: Arial;
        font-weight: 400;
        font-size: 11px;
        color: #62748E;
      }

      small {
        font-family: Arial;
        font-weight: 400;
        font-size: 9px;
        opacity: 0.7;
        color: #90A1B9;
      }
    }

    .historyItem {
      margin-bottom: 8px;
      padding: 6px;
      background: #f0f0f0;

      border-left: 3px solid $tab-active-border;
    }
  }
}
